---
layout: default
permalink: /resume.html
---

    <br/><br/>
    <div id="highlights-panel" class="jumbotron white">
      <div class="container">
        <div class="row text-center">
          <h1></h1>
        </div>
        <div class="row">

          <div class="company-logo col-md-4 col-sm-4 col-xs-12 col-lg-4 wow slideInLeft text-right" data-wow-duration="0" data-wow-delay="0">
            <h1>Highlights</h1>
          </div>

          <div class="col-md-8 col-sm-8 col-xs-12 col-lg-8 wow fadeIn" data-wow-duration=".5s" data-wow-delay=".2s">
            <p><strong>1.	Experience shipping world-class SAAS products:</strong> Launched leading SAAS products (Forrester Research 2010) used by customers around the globe.  Understand the strategy, lifecycle, leadership, tools and data behind building great online products.

            <p><strong>2.	Ideal combination of skills:</strong> Extensive background in product leadership, marketing and engineering.  This helps me gain rapport, communicate and direct varied teams to a successful outcome.

            <p><strong>3.	Entrepreneurial Drive:</strong> Experience in the trenches of a bootstrapped startup and in large corporations. Get things done, regardless of the organization or resources available.

            <p><strong>4.	Data-Driven focus on customer needs:</strong> Background in analytics and personalization ensures that every product decision is backed up by numbers.  Intuition and customer needs drive product strategy.  Numbers confirm it.

            <p><strong>5.	Thoughtful, effective leader:</strong> Exhibit a calm demeanor and focus on empowering teams to accomplish goals autonomously. Experience includes successfully leading direct, external and cross functional teams of up to 20, in organizations sized from 3 to 7000 employees


          </div>

        </div> <!-- row -->
      </div> <!-- container -->
    </div> <!-- jumbo -->


    <div id="ticket-panel" class="jumbotron white">
      <div class="container">
        <div class="row text-center">
          <h1></h1>
        </div>
        <div class="row">

          <div class="company-logo col-md-4 col-sm-4 col-xs-12 col-lg-4 wow slideInLeft text-right" data-wow-duration="0" data-wow-delay="0">
            Overstock
          </div>

          <div class="col-md-8 col-sm-8 col-xs-12 col-lg-8 wow fadeIn" data-wow-duration=".5s" data-wow-delay=".2s">
            <h2>Senior Product Manager</h2>

            <p>Strategic leadership for building a modern interface for partners and internal buyers to sell products on Overstock.com and other owned e-commerce sites.  This new tool will replace legacy applications that are up to 15 years old, require extensive manual processes to make up for their shortcomings, and are extremely expensive to maintain.</p>
            <ul class="resume-bullets">
              <li>Created overall strategy for reducing the amount of time it takes to get SKUs onsite by up to 500%, all while collecting more conversion and SEO friendly content.  Eliminate as many manual processes as possible.</li>
              <li>Developed KPIs to measure effectiveness of the new system, such has TTS, Change in SKU count, Partner SKU penetration, SKUs per month.</li>
              <li>Prioritized and lead up to 40 engineers, as well as Business Analysts, Process Engineers, UX Designers and Copywriters.</li>
              <li>Regularly interface with Internal and external stakeholders, including senior vice presidents and other executives.</li>
            </ul>

          </div>

        </div> <!-- row -->
      </div> <!-- container -->
    </div> <!-- jumbo -->

    <div id="ticket-panel" class="jumbotron white">
      <div class="container">
        <div class="row text-center">
          <h1></h1>
        </div>
        <div class="row">

          <div class="company-logo col-md-4 col-sm-4 col-xs-12 col-lg-4 wow slideInLeft text-right" data-wow-duration="0" data-wow-delay="0">
            <img src="/images/vivint-logo-orange.png" alt="Vivint">
          </div>

          <div class="col-md-8 col-sm-8 col-xs-12 col-lg-8 wow fadeIn" data-wow-duration=".5s" data-wow-delay=".2s">
            <h2>Director of Product, Web Strategy</h2>

            <p>Responsible for leading vision, roadmap, strategy, product management, analytics and optimization of 20+ web properties at the largest and most successful technology company in Utah (Vivint: $2B valuation, owned by Blackstone PE Group).</p>
            <ul class="resume-bullets">
              <li>Hired and led optimization, web analytics and front end engineering teams charged with development and data driven improvement of web properties.  Achieved 300%+ increase in lead generation conversion rates, resulting in $50M increase in sales.</li>
              <li>Created strategy, defined requirements, prioritized development and launched major web projects.  Led and aligned direct, cross-functional and external resources through complex project roadmaps: support.vivint.com, vivintsolar.com, vivint.com, account.vivint.com</li>
              <li>Personalized and targeted mobile experience by creating and directing platform specific content, design, optimization strategy for desktop, mobile and tablet channels.  This resulted in increased use, faster load times, and better conversion rates.</li>
              <li>Directed and prioritized development of backend CMS and lead capture application that powered all Vivint websites.  Improved uptime by over 500%.</li>
            </ul>

          </div>

        </div> <!-- row -->
      </div> <!-- container -->
    </div> <!-- jumbo -->

    <div id="community-panel" class="jumbotron white">
      <div class="container">
        <div class="row text-center">
          <h1></h1>
        </div>

        <div class="row">

            <div class="company-logo col-md-4 col-sm-4 col-xs-12 col-lg-4 wow slideInLeft text-right" data-wow-duration="0" data-wow-delay="0">
              <img src="/images/VertsterLogo.png">
            </div>

            <div class="col-md-8 col-sm-8 col-xs-12 col-lg-8 wow fadeIn" data-wow-duration=".5s" data-wow-delay=".2s">
              <h2>Head of Product/Founder</h2>

              <p>Responsible for all aspects of a leading SAAS startup providing SMB through Enterprise software for A/B and Multivariate Testing. Vertster was a mature, market-validated product, with a global footprint and ranked in the top 8 by Forrester Research (2010 Wave Report).</p>
              <ul class="resume-bullets">
                <li>Formulated and led product vision, strategy, development, marketing and launch.  Took product from an “interesting idea” to a cash flow positive business with a global footprint and top rated product.</li>
                <li>Operated profitably for six years with significant traction and customers like Verizon, Experian and Travelzoo.  Had direct oversight of 10,000+ optimization campaigns, Increasing customer’s online sales by over $4B.</li>
                <li>As Head of Product, consulted with 100s of customers to understand and meet needs. Prioritized feature development based on customer feedback, data analysis and business needs.</li>
                <li>Built and led high performing team of sales execs, product marketing pros, senior leaders and contractors in support of my vision and allowing me to focus on product and development.</li>
                <li>Invited speaker at online marketing events worldwide.  Evangelist for A/B Testing and Web Analytics at events by Search Engine Strategies, SMX Advanced, Marketing Sherpa, WhichTestWon, MarketingExperiments.com and others.</li>
              </ul>


            </div>



        </div> <!-- row -->
      </div> <!-- container -->
    </div> <!-- jumbo -->

    <div id="kb-panel" class="jumbotron white">
      <div class="container">
        <div class="row text-center">
          <h1></h1>
        </div>
        <div class="row">

            <div class="company-logo col-md-4 col-sm-4 col-xs-12 col-lg-4 wow slideInLeft text-right" data-wow-duration="0" data-wow-delay="0">
                <img src="/images/u-pro.jpg">
            </div>

            <div class="col-md-8 col-sm-8 col-xs-12 col-lg-8 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
              <h2>Internet Marketing/SEO Consultant</h2>

              <p>Provided marketing strategy consulting, SEO, Landing Page Optimization, Email Marketing, PPC Management, Social Media, ecommerce and Custom Web Development to Utah based companies. Productized services and web applications.</p>
              <ul class="resume-bullets">
                <li>Productized SEO Consulting and Reporting.  “Search Engine Magnet” customers achieved dozens of first page Google rankings for a recurring monthly fee. Planned and set up Google Adwords and other PPC accounts for clients.</li>
                <li>Led team of developers in the design and production of marketing websites and web applications.  Launched web based software for event marketing and registration, rental property management and e-commerce.</li>
              </ul>

            </div>

        </div> <!-- row -->
      </div> <!-- container -->
    </div> <!-- jumbo -->

    <div class="container">
      <div class="row text-center">
        <h1>Education</h1>
      </div>
    </div>

    <div id="edu-panel" class="jumbotron white">
      <div class="container">
        <div class="row text-center">
          <h1></h1>
        </div>
        <div class="row">

            <div class="company-logo col-md-4 col-sm-4 col-xs-12 col-lg-4 wow slideInLeft text-right" data-wow-duration="0" data-wow-delay="0">
                <h2>UVM</h2>
            </div>

            <div class="col-md-8 col-sm-8 col-xs-12 col-lg-8 wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
              <h2>University of Vermont</h2>

              <p>University of Vermont, BS Business Administration, Focus on Marketing.</p>
              <p>Leadership and Management Training, College Pro Franchisee. Recognized as Top Quality Franchise in Northern New England.</p>

            </div>

        </div> <!-- row -->
      </div> <!-- container -->
    </div> <!-- jumbo -->



<!--    {% include features.html %}
    {% include getit.html %} -->
