  <div id="demo-bar" class="jumbotron">
    <div class="container">

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
          <h1>Highlights</h1>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">

            <p><strong>1.	Experience shipping world-class SAAS products:</strong> Launched leading SAAS products (Forrester Research 2010) used by customers around the globe.  Understand the strategy, lifecycle, leadership, tools and data behind building great online products.

            <p><strong>2.	Ideal combination of skills:</strong> Extensive background in product leadership, marketing and engineering.  This helps me gain rapport, communicate and direct varied teams to a successful outcome.

            <p><strong>3.	Entrepreneurial Drive:</strong> Experience in the trenches of a bootstrapped startup and in large corporations. Get things done, regardless of the organization or resources available.

            <p><strong>4.	Data-Driven focus on customer needs:</strong> Background in analytics and personalization ensures that every product decision is backed up by numbers.  Intuition and customer needs drive product strategy.  Numbers confirm it.

            <p><strong>5.	Thoughtful, effective leader:</strong> Exhibit a calm demeanor and focus on empowering teams to accomplish goals autonomously. Experience includes successfully leading direct, external and cross functional teams of up to 20, in organizations sized from 3 to 7000 employees
        </div>

      </div>
    </div>
  </div>
