<div id="footer-bar" class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-12-md">
        <ul id="top-nav" class="list-inline">

          <li><a href="/index.html#tickets" class="autoscroll" data-target="#ticket-panel">Highlights</a></li>
          <li><a href="/index.html#community" class="autoscroll" data-target="#community-panel">Resume</a></li>
          <li><a href="/index.html#knowledgebase" class="autoscroll" data-target="#kb-panel">Projects</a></li>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="#demo" class="autoscroll" data-target="#features">Skills</a></li>

        </ul>
      Copyright 2017, Scott Miller.
      </div>
    </div>
  </div>
</div>

<script src='//helpy.io/js/helpybot.js'></script>
<script>
// Carin.ai integration

var Helpy = Helpy || {};
Helpy.domain = '//support.helpy.io';

Helpy.botIcon = '';
Helpy.botBackground = '#49597a';

// Use the following attributes to identify the user in your app/store
// Unidentified users will appear as anonymous users
Helpy.email_address = '';
Helpy.customer_name = '';

$script(['//helpy.io/js/bot.v3.js'], function() {
  Helpy.initBot('MOQYX1gZv8R5NzXg0kKyeEo6GxLdJW');
});</script>
